@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* Constants */
:root {
    --primary-text-color: #31261A;
    --secondary-text-color: #faf4ea;
    --primary-background-color: #FAF4EA;
    --primary-green-color: #819B57;


}

/* Base settings */
* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 18px;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    outline: 1px solid red;

    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* -----------------------------------Header */

.header {
    display: flex;
    align-items: center;
    gap: 152px;

    padding-top: 32px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 152px;
    flex-grow: 1;

}

.header-link {}

.header-list {
    display: flex;
    align-items: center;
    gap: 64px;
    flex-grow: 0;
    justify-content: center;
}



.header-item {}

.header-link {
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 18px;
    /* text-align: center; */
    color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--primary-green-color);
}

.header-btn {
    width: 238px;
    height: 59px;
    border: 2px solid var(--primary-green-color);
    border-radius: 8px;
    padding: 16px 32px;

    background-color: var(--primary-green-color);
    color: var(--secondary-text-color);

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    cursor: pointer;


}

.header-btn:hover,
.header-btn:focus {
    color: #465929;
    background-color: white;
}

/* -----------------------------------Section HERO */
.hero {
    padding-top: 181px;
    padding-bottom: 272px;

    background-image: url("../image/Hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.hero-title {
    font-weight: 900;
    font-size: 128px;
    text-align: center;
}

.hero-title span {
    color: var(--primary-green-color);

}

/* ------------------------------------Section ADVENTAGES */
.adventages {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--primary-green-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adventages-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adventages-item {
    font-weight: 300;
    font-size: 20px;
    color: var(--secondary-text-color);

}

/* -----------------------------CHEFS */


.chefs-title {

    max-width: 538px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    font-weight: 900;
    font-size: 64px;


    line-height: 1, 31;
    text-align: center;
    color: var(--primary-text-color);
}

.chefs-title span {
    color: #465929;
}

.chefs-title::before,
.chefs-title::after {
    display: block;
    border: 2px solid #cfcfbc;
    width: 352px;
    content: "";
}


.chef-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chef-item {}

.chef-card {
    display: flex;
}

.chef-box {
    width: 334px;
    margin-left: 30px;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;

    box-shadow: -16px 16px 0 0 var(--primary-background-color), -16px 16px 0 2px #a18268;
}

.chef-box-title {
    max-width: 334px;
    font-weight: 600;
    font-size: 40px;
    color: var(--primary-text-color);
    padding-bottom: 16px;
}

.chef-text {
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-text-color);
    padding-bottom: 20px;
}

/* ------------------------------FOOTER */


.footer {
    background-color: #31261a;
    background-image: url(../image/footer-bg.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;


}

.footer-nav {
    display: flex;
    flex-basis: 50%;
}

.footer-logo {
    flex-grow: 1;
}

.footer-nav-list {
    flex-grow: 1;
}

.footer-block {
    display: flex;
    flex-basis: 50%;
}